CODEAGENT_ROOT_PATH=.codeagent
CUSTOM_DOCKER_CONTEXT=
CUSTOM_DOCKER_IMAGE=

ANTHROPIC_BASE_URL=
DEEPSEEK_BASE_URL=
MAIN_MODEL=anthropic/claude-opus-4-1-20250805
BUILD_MODEL=anthropic/claude-sonnet-4-5-20250929
SMALL_MODEL=anthropic/claude-haiku-4-5-20251001

CUSTOM_PROJECT_CONFIG_DIR=
