CODEAGENT_ROOT_PATH=.codeagent
OPENCODE_VERSION=1.1.53

ANTHROPIC_BASE_URL=
DEFAULT_MODEL_PROVIDER=anthropic
DEFAULT_MAIN_MODEL=claude-opus-4-1-20250805
DEFAULT_BUILD_MODEL=claude-sonnet-4-5-20250929
DEFAULT_SMALL_MODEL=claude-haiku-4-5-20251001
