services:
  agent:
    image: "ghcr.io/anomalyco/opencode:${OPENCODE_VERSION}"
    network_mode: "host"
    user: "${HOST_UID:?please provide HOST_UID env when running the service}:${GID:?please provide GID env with `id -g` when running the service}"
    volumes:
      - /etc/group:/etc/group:ro
      - /etc/passwd:/etc/passwd:ro
      - /etc/shadow:/etc/shadow:ro

      - ~/.gitconfig:/root/.gitconfig:ro

      - ./../${CODEAGENT_ROOT_PATH:?please set CODEAGENT_ROOT_PATH in .env file}:/home/${USER:?please provide USER env when running the service}
      - ./..:/app/project_root
      - ./config.json:/app/project_root/${CODEAGENT_ROOT_PATH:?please provide CODEAGENT_ROOT_PATH in `.env`}/config.json:ro
    working_dir: /app/project_root
    tmpfs:
      - /tmp/auth
    stdin_open: true
    tty: true
#    entrypoint: ["/bin/sh"]
    environment:
      CODEAGENT_ROOT_PATH: ${CODEAGENT_ROOT_PATH:?please provide CODEAGENT_ROOT_PATH in `.env`}
      OPENCODE_CONFIG_DIR: /app/project_root/${CODEAGENT_ROOT_PATH:?please provide CODEAGENT_ROOT_PATH in `.env`}
      OPENCODE_AUTH_JSON: /tmp/auth
      ANTHROPIC_BASE_URL: ${ANTHROPIC_BASE_URL}
      ANTHROPIC_API_KEY: ${ANTHROPIC_API_KEY}
      EDITOR: vi
