REMOTE_USER=root
XDG_CONFIG_HOME=/home/${REMOTE_USER:-root}/.config
XDG_DATA_HOME=/home/${REMOTE_USER:-root}/.local/share
XDG_STATE_HOME=/home/${REMOTE_USER:-root}/.local/state
XDG_CACHE_HOME=/home/${REMOTE_USER:-root}/.cache
OCF_LOCAL_GLOBAL_CONFIG_PATH={{OCF_LOCAL_GLOBAL_CONFIG_PATH}}
OCF_LOCAL_GLOBAL_AUTH_PATH={{OCF_LOCAL_GLOBAL_AUTH_PATH}}
OCF_LOCAL_FRAMEWORK_PATH={{OCF_LOCAL_FRAMEWORK_PATH}}
OCF_REMOTE_FRAMEWORK_CONFIG_PATH=/opt/ocframework/config

OCF_MAIN_MODEL=anthropic/claude-opus-4-1-20250805
OCF_BUILD_MODEL=anthropic/claude-sonnet-4-5-20250929
OCF_SMALL_MODEL=anthropic/claude-haiku-4-5-20251001

PLAN_MAX_BEFORE_RESPONSE_STEPS=60
PLAN_THINKING_MAX_TOKENS=20000
BUILD_MAX_BEFORE_RESPONSE_STEPS=40
BUILD_THINKING_MAX_TOKENS=20000
